<script setup lang="ts">
import { toRefs, computed } from 'vue';

const props = defineProps<{
    pages: number;
    modelValue: number;
}>();

const { pages, modelValue: currentPage } = toRefs(props);

const emit = defineEmits(['update:modelValue']);

const previous = () => {
    if (currentPage.value === 1) return;
    emit('update:modelValue', currentPage.value - 1);
};

const next = () => {
    emit('update:modelValue', currentPage.value + 1);
};

const setPage = (page: number) => {
    emit('update:modelValue', page);
};

const midRangePage = computed(() => {
    if (currentPage.value <= 3) {
        return [1, 2, 3];
    }

    if (pages.value - currentPage.value <= 3) {
        return [pages.value - 2, pages.value - 1, pages.value];
    }

    return [currentPage.value - 1, currentPage.value, currentPage.value + 1];
});
</script>

<template>
    <nav class="pagination" role="navigation" aria-label="pagination">
        <a
            class="pagination-previous"
            :class="{ 'is-disabled': currentPage === 1 }"
            @click="previous()"
        >
            Page précédente
        </a>
        <a
            class="pagination-next"
            :class="{ 'is-disabled': currentPage === pages }"
            @click="next()"
        >
            Page suivante
        </a>

        <ul class="pagination-list">
            <template v-if="currentPage > 3">
                <li>
                    <a
                        class="pagination-link"
                        :aria-label="`Aller à la page 1`"
                        :class="{ 'is-current': currentPage === 1 }"
                        @click="setPage(1)"
                    >
                        1
                    </a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
            </template>

            <li v-for="range in midRangePage" :key="range">
                <a
                    class="pagination-link"
                    :class="{ 'is-current': currentPage === range }"
                    :aria-label="`Aller à la page ${range}`"
                    @click="setPage(range)"
                >
                    {{ range }}
                </a>
            </li>

            <template v-if="pages - currentPage > 3">
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li>
                    <a
                        class="pagination-link"
                        :class="{ 'is-current': currentPage === pages }"
                        :aria-label="`Aller à la page ${pages}`"
                        @click="setPage(pages)"
                    >
                        {{ pages }}
                    </a>
                </li>
            </template>
        </ul>
    </nav>
</template>
