<script setup lang="ts">
import type { Team } from '@/models/team';
import { RouterLink } from 'vue-router';
const props = defineProps<{
    team: Team;
}>();
</script>

<template>
    <div>
        <RouterLink :to="`/teams/${props.team.id}`" class="team-item p-5">
            <p>{{ props.team.name }}</p>
        </RouterLink>
    </div>
</template>

<style lang="scss">
@import '@/assets/variables.scss';
.team-item {
    border: 1px solid $brand;
    color: white;
    background-color: $brand;
    text-align: center;
    display: block;
    border-radius: 5px;

    &:hover {
        background-color: $dynamic;
        color: white;
        border-color: $dynamic;
    }
}
</style>
