<script setup lang="ts">
import type { Hero } from '@/models/hero';
import { RouterLink } from 'vue-router';
import HeroItem from '../heroItem/HeroItem.vue';
const props = defineProps<{
    hero: Hero;
}>();
</script>

<template>
    <div>
        <RouterLink :to="`/heroes/${props.hero.id}`">
            <HeroItem :hero="hero"></HeroItem>
        </RouterLink>
    </div>
</template>
