<script setup lang="ts">
import { useHeroesStore } from '@/stores/heroes';
import { storeToRefs } from 'pinia';
import { ref, computed, watchEffect } from 'vue';

const form = ref({
    search: '',
    comics: '',
});
const onlyAvailableHeroes = ref<boolean>(false);
const isFilterActive = computed(() => {
    const values = form.value;
    return values.search !== '' || values.comics !== '';
});

const heroesStore = useHeroesStore();
const { availablesComics } = storeToRefs(heroesStore);

function resetFilters() {
    form.value = {
        search: '',
        comics: '',
    };
}

watchEffect(() => {
    heroesStore.filterHeroes(form.value, onlyAvailableHeroes.value);
});
</script>

<template>
    <aside>
        <div class="field">
            <label for="search" class="label"> Recherche </label>
            <div class="control">
                <input
                    type="text"
                    class="input"
                    name="search"
                    v-model="form.search"
                    placeholder="Rechercher par nom, description, ..."
                />
            </div>
        </div>

        <div class="field">
            <label for="comics" class="label">Comics</label>
            <div class="control">
                <div class="select is-fullwidth">
                    <select name="comis" v-model="form.comics">
                        <option disabled selected>{{ 'Sélectionner un comics' }}</option>
                        <option v-for="option in availablesComics" :value="option" :key="option">
                            {{ option }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" v-model="onlyAvailableHeroes" />
                    {{ 'Héros disponibles' }}
                </label>
            </div>
        </div>
        <button v-if="isFilterActive" class="button is-primary" @click="resetFilters()">
            Réinitialiser les filtres
        </button>
    </aside>
</template>
