<script setup lang="ts">
import Filters from '@/components/hero/filtersHeroes/FiltersHeroes.vue';
import HeroLink from '@/components/hero/heroLink/HeroLink.vue';
import Pagination from '@/components/hero/paginationHeroes/PaginationHeroes.vue';
import { useHeroesStore } from '@/stores/heroes';
import { storeToRefs } from 'pinia';

const heroesStore = useHeroesStore();
const { resultsHeroes, loading, pages, currentPage, limit } = storeToRefs(heroesStore);
currentPage.value = 1;
heroesStore.fetchHeroes();
</script>

<template>
    <div class="columns">
        <Filters class="column"></Filters>
        <section class="column is-three-quarters">
            <h2 class="is-size-2">Les Héros Marvel</h2>
            <p v-if="loading">{{ 'Chargement des héros en cours...' }}</p>
            <p v-else-if="!resultsHeroes.length">
                {{ 'Aucun héros ne corresponds à votre recherche.' }}
            </p>
            <template v-else>
                <div class="columns is-multiline">
                    <HeroLink
                        v-for="hero of resultsHeroes"
                        :key="hero.id"
                        :hero="hero"
                        class="column is-one-quarter"
                    ></HeroLink>
                </div>
                <Pagination
                    v-if="currentPage === pages || resultsHeroes.length >= limit"
                    :pages="pages"
                    v-model="currentPage"
                ></Pagination>
            </template>
        </section>
    </div>
</template>
