<script setup lang="ts">
import HeroDetails from '@/components/hero/heroDetails/HeroDetails.vue';
import { useHeroesStore } from '@/stores/heroes';
import { storeToRefs } from 'pinia';
import { ref, computed, type Ref } from 'vue';
import { useRoute } from 'vue-router';

const hereosStore = useHeroesStore();
const { hero, loading } = storeToRefs(hereosStore);
const route = useRoute();

const activeTab: Ref<string> = ref<string>('comics');
const activeDetails = computed(() => {
    const heroDetails: any = hero?.value;
    return heroDetails?.[activeTab?.value];
});

const cover = computed(
    () => `${hero?.value?.thumbnail?.path}.${hero?.value?.thumbnail?.extension}`,
);

const reverseName = () => {
    if (hero.value) {
        let heroName = hero.value?.name;
        var newName = '';
        for (var i = heroName.length - 1; i >= 0; i--) {
            newName += heroName[i];
        }

        hero.value.name = newName;
    }
};

hereosStore.fetchHero(+route.params.id);
</script>

<template>
    <section v-if="loading">
        <p class="is-size-3">{{ 'Chargement en cours' }}</p>
    </section>
    <section v-else>
        <div class="columns">
            <div class="column">
                <img :src="cover" :alt="hero?.name" />
            </div>
            <div class="column">
                <h2 class="is-size-2" @click="reverseName()">{{ hero?.name }}</h2>
                <p>{{ hero?.description }}</p>
            </div>
        </div>

        <div class="tabs">
            <ul>
                <li
                    v-if="hero?.comics?.items.length"
                    :class="{ 'is-active': activeTab === 'comics' }"
                >
                    <a @click="activeTab = 'comics'">
                        Comics
                        <span class="tag ml-2">{{ hero?.comics.available }}</span>
                    </a>
                </li>
                <li
                    v-if="hero?.series?.items.length"
                    :class="{ 'is-active': activeTab === 'series' }"
                >
                    <a @click="activeTab = 'series'">
                        Séries
                        <span class="tag ml-2">{{ hero?.series.available }}</span>
                    </a>
                </li>
                <li
                    v-if="hero?.stories?.items.length"
                    :class="{ 'is-active': activeTab === 'stories' }"
                >
                    <a @click="activeTab = 'stories'">
                        Stories
                        <span class="tag ml-2">{{ hero?.stories.available }}</span>
                    </a>
                </li>
                <li
                    v-if="hero?.events?.items.length"
                    :class="{ 'is-active': activeTab === 'events' }"
                >
                    <a @click="activeTab = 'events'">
                        Événements
                        <span class="tag ml-2">{{ hero?.events.available }}</span>
                    </a>
                </li>
            </ul>
        </div>
        <article>
            <HeroDetails :details="activeDetails"></HeroDetails>
        </article>
    </section>
</template>
