<script setup lang="ts">
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import { useTeamsStore } from '@/stores/teams';
import type { Team } from '@/models/team';
import HeroLink from '@/components/hero/heroLink/HeroLink.vue';

const teamsStore = useTeamsStore();
const route = useRoute();

const team = ref<Team>();

const teamStored = teamsStore.getTeam(+route.params.id);
if (teamStored) {
    team.value = teamStored;
}
</script>

<template>
    <div class="is-flex is-justify-content-space-between is-align-items-flex-end">
        <h2 class="is-size-2">{{ team?.name }}</h2>
    </div>

    <section class="columns is-multiline mt-5">
        <HeroLink
            v-for="hero of team?.heroes"
            :key="hero.id"
            :hero="hero"
            class="column is-one-quarter"
            :activeLink="false"
        ></HeroLink>
    </section>
</template>
