<script setup lang="ts">
import { reactive, computed, ref } from 'vue';
import { storeToRefs } from 'pinia';
import { useRouter } from 'vue-router';
import HeroItem from '@/components/hero/heroItem/HeroItem.vue';
import Filters from '@/components/hero/filtersHeroes/FiltersHeroes.vue';
import { useHeroesStore } from '@/stores/heroes';
import { useTeamsStore } from '@/stores/teams';
import type { Team } from '@/models/team';
import type { Hero } from '@/models/hero';
import Pagination from '@/components/hero/paginationHeroes/PaginationHeroes.vue';

const heroesStore = useHeroesStore();
const teamsStore = useTeamsStore();
const router = useRouter();
const { resultsHeroes, loading, pages, currentPage, limit } = storeToRefs(heroesStore);

const team = reactive<Team>({
    name: '',
    heroes: [],
});
const submitted = ref<boolean>(false);

const nameValidator = computed<boolean>(() => !!team.name.length);
const heroesValidator = computed<boolean>(() => team.heroes.length === 3);
const heroesLength = computed<string>(() => `${team.heroes.length}/3 héros`);

function create(): void {
    submitted.value = true;
    if (nameValidator.value && heroesValidator.value) {
        teamsStore.create(team);
        router.push({ name: 'teams.all' });
    }
}

function addToTeam(hero: Hero): void {
    const index = team.heroes.findIndex((item) => item.id === hero.id);
    if (index > -1) {
        team.heroes.splice(index, 1);
    } else if (team.heroes.length < 3) {
        team.heroes.push(hero);
    }
}

function isHeroInTeam(id: number): boolean {
    return !!team.heroes.find((hero) => hero.id === id);
}
currentPage.value = 1;
heroesStore.fetchHeroes();
</script>

<template>
    <section>
        <div class="columns">
            <div class="column is-offset-one-quarter">
                <h2 class="is-size-2">Créer votre équipe</h2>

                <div class="is-flex is-justify-content-space-between is-align-items-flex-end">
                    <div class="field mb-0">
                        <label for="name" class="label">Nom</label>
                        <div class="control">
                            <input
                                v-model="team.name"
                                required
                                name="name"
                                id="name"
                                type="text"
                                class="input"
                                :class="{ 'is-danger': !nameValidator && submitted }"
                            />
                        </div>
                        <p v-if="!nameValidator && submitted" class="help is-danger">
                            {{ "Veuillez renseigner un nom d'équipe" }}
                        </p>
                    </div>

                    <p
                        class="ml-auto mr-3"
                        :class="{ 'has-text-danger': !heroesValidator && submitted }"
                        data-bot="team-form-count"
                    >
                        {{ heroesLength }}
                    </p>
                    <button
                        class="button is-primary"
                        @click="create()"
                        type="button"
                        data-bot="team-form-create"
                    >
                        {{ 'Enregistrer' }}
                    </button>
                </div>
                <p
                    v-if="!heroesValidator && submitted"
                    class="notification is-danger is-light mt-3 py-2 px-3"
                >
                    {{ 'Veuillez sélectionner 3 héros' }}
                </p>
            </div>
        </div>

        <div class="columns">
            <Filters class="column"></Filters>
            <section class="column is-three-quarters">
                <p v-if="loading">{{ 'Chargement des héros en cours...' }}</p>
                <p v-else-if="!resultsHeroes.length">
                    {{ 'Aucun héros ne corresponds à votre recherche.' }}
                </p>
                <template v-else>
                    <div class="columns is-multiline">
                        <HeroItem
                            v-for="hero of resultsHeroes"
                            :key="hero.id"
                            :hero="hero"
                            :active="isHeroInTeam(hero.id)"
                            :disabled="heroesValidator && !isHeroInTeam(hero.id)"
                            class="column is-one-quarter"
                            :activeLink="false"
                            @click="addToTeam(hero)"
                        ></HeroItem>
                    </div>
                    <Pagination
                        v-if="currentPage === pages || resultsHeroes.length >= limit"
                        :pages="pages"
                        v-model="currentPage"
                    ></Pagination>
                </template>
            </section>
        </div>
    </section>
</template>
