<script setup lang="ts">
import TeamItem from '@/components/team/teamItem/TeamItem.vue';
import { useTeamsStore } from '@/stores/teams';
import { storeToRefs } from 'pinia';

const teamsStore = useTeamsStore();
const { teams } = storeToRefs(teamsStore);
</script>

<template>
    <div class="is-flex is-justify-content-space-between is-align-items-flex-end">
        <h2 class="is-size-2">{{ 'Vos équipes' }}</h2>

        <RouterLink to="/teams/create" class="button is-primary" data-bot="team-create">
            {{ 'Créer' }}
        </RouterLink>
    </div>
    <section v-if="teams.length" class="columns is-multiline mt-5">
        <TeamItem
            v-for="team of teams"
            :key="team.id"
            :team="team"
            class="column is-one-quarter"
        ></TeamItem>
    </section>
    <p v-else>{{ "Vous n'avez aucune équipe. Créez-en une ! " }}</p>
</template>
