<script setup lang="ts">
import type { Hero } from '@/models/hero';
import { computed } from 'vue';
const props = defineProps<{
    hero: Hero;
    active?: boolean;
    disabled?: boolean;
}>();

const cover = computed(() => `${props.hero.thumbnail?.path}.${props.hero.thumbnail?.extension}`);
const stateClass = computed(() => {
    return {
        'hero-item': true,
        'hero-item--active': props.active,
        'hero-item--disabled': props.disabled,
    };
});
</script>

<template>
    <div>
        <div :class="stateClass">
            <img :src="cover" :alt="props.hero.name" loading="lazy" />
            <p class="hero-item__name">{{ props.hero.name }}</p>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import '@/assets/variables.scss';
.hero-item {
    cursor: pointer;
    border-radius: 5px;
    position: relative;

    &:hover {
        &:not(.hero-item--disabled) .hero-item__name {
            background-color: $dynamic;
        }
    }
    &--active {
        border: 3px solid $dynamic;
        .hero-item__name {
            background-color: $dynamic;
            border-radius: 0;
        }
    }

    &--disabled {
        position: relative;

        &:before {
            content: '';
            cursor: not-allowed;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    &__name {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        background-color: $brand;
        color: white;
        padding: 2px 8px;
        transition: background-color 0.3s ease;
    }

    img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
    }
}
</style>
