<script setup lang="ts">
import { ref } from 'vue';
import { RouterLink } from 'vue-router';

const activeMenu = ref(false);
</script>

<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand ml-0">
                <RouterLink class="navbar-item" to="/" title="Marvel App">
                    <img src="../assets/logo.svg" style="width: 75px" class="image" alt="MARVEL" />
                </RouterLink>
                <a
                    role="button"
                    class="navbar-burger"
                    aria-label="menu"
                    aria-expanded="false"
                    data-target="navbarBasicExample"
                    :class="{ 'is-active': activeMenu }"
                    @click="activeMenu = !activeMenu"
                >
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="mainMenu" class="navbar-menu" :class="{ 'is-active': activeMenu }">
                <div class="navbar-start">
                    <RouterLink
                        to="/heroes"
                        class="navbar-item"
                        :class="{ 'is-active': activeMenu }"
                        title="héros"
                    >
                        Héros
                    </RouterLink>
                    <RouterLink
                        to="/teams"
                        class="navbar-item"
                        :class="{ 'is-active': activeMenu }"
                        title="équipes"
                    >
                        Équipes
                    </RouterLink>
                </div>
                <div class="navbar-end">
                    <a
                        class="navbar-item"
                        target="_blank"
                        href="https://gitlab.com/khylias/marvelapp"
                        :class="{ 'is-active': activeMenu }"
                        >Gitlab</a
                    >
                </div>
            </div>
        </div>
    </nav>
</template>

<style lang="scss" scoped>
@import '@/assets/variables.scss';
.navbar {
    background-color: $brand;
    &-item {
        color: white;

        &.router-link-active {
            background-color: white;
            color: $brand;
        }

        &.is-active {
            color: $text;
        }
    }

    &-start {
        flex-grow: 1;
        justify-content: center;
        gap: 10px;
    }

    &-brand {
        background-color: white;
    }
}
</style>
