<script setup lang="ts">
import type { HeroRessource } from '@/models/hero';

const props = defineProps<{
    details: HeroRessource;
}>();
</script>

<template>
    <table class="table is-fullwidth">
        <tbody>
            <tr v-for="ressource in props.details?.items" :key="ressource.resourceURI">
                <td>{{ ressource.name }}</td>
            </tr>
        </tbody>
    </table>
</template>
