@import './variables.scss';
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/bulma.sass';

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

html {
    background-color: #f6f6f9;
}
