$primary: #5e8ea4;
$text: #251c1a;
$link: $text;
$danger: #733133;
$brand: #2e365d;
$dynamic: #e57a44;

$pagination-border-color: $brand;
$pagination-color: $brand;

$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;

$pagination-hover-color: $primary;
$pagination-hover-border-color: $primary;
