<script setup lang="ts">
import { RouterView } from 'vue-router';
import Header from './components/HeaderMain.vue';
</script>

<template>
    <Header />
    <main class="container mt-5">
        <RouterView v-slot="{ Component }">
            <transition name="fade">
                <component :is="Component" />
            </transition>
        </RouterView>
    </main>
</template>

<style scoped>
@media screen and (max-width: 1023px) {
    .container {
        padding: 0 10px;
    }
}
</style>
